@model ProductModel
@{
    ViewData["Title"] = "EditProduct";
}
<script>
 $(document).ready(function(){
        $("#fileImage").change(function(e){
            $("#imgPreview").show()
            $("#imgPreview").attr('src',URL.createObjectURL(e.target.files[0]));

        })
    })
</script>
<script src="~/modules/ckeditor/ckeditor.js"></script>

<h1>Edit Product</h1>
<hr />
<form asp-controller="Admin" asp-action="EditProduct" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8">
            <input type="hidden" name="SelectedCategories" value="@Model.SelectedCategories" />
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="mb-3 form-group-row">
                <label class="col-md-2 col-form-label">Product Name</label>
                <div class="col-md-10">
                    <input asp-for="Name" value="@Model.Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            @foreach (var Image in Model.Images)
            {
                <div class="col-md-9 offset-md-3">
                    <label asp-for="@Image.ImageUrl" class="form-label"></label>
                    <img src="~/img/@Image.ImageUrl" width="80" id="imgPreview" />
                    <input type="file" name="files" value="" id="fileImage" />
                </div>
            }
            <div class="mb-3 form-group-row">
                <label class="col-md-2 col-form-label">Description</label>
                <div class="col-md-10">
                    <textarea id="editor" asp-for="Description" class="form-control">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 form-group-row">
                <label class="col-md-2 col-form-label">Price</label>
                <div class="col-md-10">
                    <input asp-for="Price" value="@Model.Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group-row">

                <div class="col-md-10">
                    <input type="submit" name="Price" value="Update Product" class="btn btn-primary" />
                </div>
            </div>

        </div>
        <div class="col-md-4">
             @foreach (var item in (List<Category>)ViewBag.Categories)
            {
                <div class="form-check">
                    <input class="form-check-input"
                    name="categoryIds"
                    type="checkbox" 
                    value="@item.Id"
                    id="category@(item.Id)" @(Model.SelectedCategories.Any(i=> i.Id==item.Id)?"checked":"")>
                    <label class="form-check-label" for="category@(item.Id)">@item.Name</label>
                </div>
            }
        </div>
    </div>
</form>
<script>
    CKEDITOR.replace("editor")
</script>